In [8]:
import pandas as pd
import numpy as np

In [9]:
train_set = pd.read_csv('model_comparison/CSV_Tables/mse.csv',index_col=0)
space_set = pd.read_csv('Interpolation/Homogeneous/Space/models_output/CSV_Tables/mse.csv',index_col=0)
time_set = pd.read_csv('Interpolation/Homogeneous/Time/models_output/CSV_Tables/mse.csv',index_col=0)

In [29]:
((train_set + space_set + time_set)/3)

                   unet     encoder    multiscale
AR_PINN_MSE  324.000000  391.666667  3.810000e+02
L2           222.000000  130.133333  1.313333e+10
L2_GDL       220.366667  123.166667  5.880000e+01
L2_GDL_MAE   323.666667  128.886667  1.192000e+02
PINN_MSE     323.000000  162.466667  2.920000e+10
PINN_RES     132.043333  202.666667  2.210039e+06

In [20]:
((train_set + space_set + time_set)/3).values[:,0].shape

(6,)